* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #0f0d13;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    'A B'
    'A C';

  gap: 32px;
  place-content: center;
  height: 100vh;
}

#player-1 {
  grid-area: A;

  padding: 70px 38px;

  width: fit-content;
}

#player-1 .wrapper {
  width: 190px;
}

#player-1 img {
  width: 190px;
  height: 190px;

  border-radius: 6px;
}

#player-2 {
  grid-area: B;
  height: fit-content;
}

#player-3 {
  grid-area: C;
}

#player-3 .controls {
  justify-content: space-around;
}

.player {
  background-color: #2a2141;
  padding: 28px;
  border-radius: 10px;
}

.player img {
  width: 84px;
  height: 84px;

  border-radius: 6px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 28px;
}

.info-wrapper .info {
  text-align: initial;
}

.wrapper-image {
  position: relative;
}
.wrapper-icons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.info {
  color: #e1e1e6;
  margin: 28px 0;
  text-align: center;
}

.info h1 {
  font-size: 24px;
}

.info p {
  font-size: 19px;
  opacity: 0.67;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track-time {
  display: grid;
  gap: 9px;
}

.track {
  margin-top: 28px;
  position: relative;
}

.track::before {
  position: absolute;
  content: '';
  height: 6px;
  width: 100%;
  display: block;
  background: #d9d9d9;
  opacity: 0.3;
  border-radius: 10px;
}

.track::after {
  content: '';
  height: 6px;
  width: 80%;
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
}
.time {
  font-size: 14px;
  color: #c4c4cc;
  opacity: 0.7;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 670px) {
  #app {
    display: flex;
    flex-direction: column;

    max-width: 270px;
    margin: 0 auto;

    height: auto;

    padding-block: 60px;
  }
}
